/* Component containers
----------------------------------*/
.ui-widget, div.wrapper {
  font-family: @font-family-sans;
}

.ui-widget .ui-widget {
  font-size: @font-size-base;
}
.ui-widget label {
  font-weight: 600;
}



.ui-widget-content {
  border: 1px solid #D5D5D5;
  background: #fff;
  color: #222222;
}

.ui-widget-header {
  color: #222222;
  border: 1px solid #D5D5D5;
  background: #fff;
  font-weight: 600;
}
.ui-widget-header .ui-icon {
  opacity: .4;
}

.ui-widget-content a {
  color: #222222;
}

.ui-widget-content, .ui-state-default, .ui-widget-header .ui-state-default {
  color: #444;
}
