.ui-growl-item {
  background-color: #A6D7EB!important;
  border: 1px solid #005070;
}

.ui-growl{
  padding: 0 0 0 0;
  width: 20% !important;
  background-color: #D5F1FC!important;
  margin-top: 80px;
  position: absolute;
  left: 40%;
  top: 80px;
  opacity: 1;
  font-size: 1.2em;
  text-align: center;
  font-weight: 500;
}

.ui-growl .ui-growl-item-container{
  opacity: 1;
  border: 1px solid #ebccd1;

}

.ui-growl .ui-growl-item-container .ui-growl-message{
  float: left;
  padding-bottom: 5px;
  padding-right: 0;
  padding-top: 0;
  width: calc(100% - 50px);
}

/* growl and messages*/

.ui-growl-info,
.ui-messages .ui-messages-info,
.ui-message.ui-message-info{
  color: #ffffff;
  background-color: #9CCC65;
  border-color: #9CCC65;
}

.ui-growl-warn,
.ui-messages .ui-messages-warn,
.ui-message.ui-message-warn{
  color: #ffffff;
  background-color: #FFA726;
  border-color: #FFA726;
}

.ui-growl-error,.ui-growl-fatal,
.ui-messages .ui-messages-error, .ui-message.ui-message-error,
.ui-messages .ui-messages-fatal, .ui-message.ui-message-fatal {
  color: #ffffff;
  background-color: #EF5350;
  border-color: #EF5350;
}
