/* grids */
body .ui-g, body .ui-grid, body .box {
  .ui-outputlabel {
    line-height: @btn-line-height;
  }
  @media (max-width: @screen-sm) {
    label {
      margin-bottom: -20px;
    }
  }
}

  .ui-widget label {
    font-weight: 500; /* some components use label (e.g checkbox) and we don't want them to be bold, only output labels */
  }

  .ui-widget .ui-outputlabel {
    font-weight: 600;
  }

  /* remove forms asterisks */
  .ui-outputlabel-rfi {
    display: none;
  }