/* material design classes */

body, body .ui-widget, body div.ui-fluid {
  .ui-inputfield, .ui-selectonemenu, div.ui-selectonemenu, .ui-autocomplete, .ui-selectcheckboxmenu, .ui-calendar {

    &.material, &.material input,  &.material select {
      display: block;
      border: none;
      border-bottom: solid 1px @input-border-color;
      background-size: 200px 100%;
      border-radius: 0 !important;
      .transition(all 0.3s cubic-bezier(.64, .09, .08, 1));
      background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, @light-blue 4%) no-repeat -10000px 0;
      &.ui-state-focus {
        box-shadow: none !important;
        -webkit-box-shadow: none !important;
        outline: none;
        background-position: 0 0;
        .input-placeholder(@light-blue);
      }

      &.ui-state-error {
        border: none;
        box-shadow: none;
        -webkit-box-shadow: none;
        border-bottom: solid 1px @box-shadow-color-error;
        color: @text-color;
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, @error-color 4%) no-repeat -10000px 0;
        .input-placeholder-color(@error-color);
        &.ui-state-focus {
          background-position: 0 0;
          color: @text-color;
          .box-shadow(none);
          .input-placeholder-color(@error-color);
        }

        .ui-selectonemenu-label {
          color: @text-color;
        }
      }

      .ui-selectonemenu-trigger,.ui-selectcheckboxmenu-trigger, .ui-autocomplete-dropdown {
        border: none;
        &.ui-state-hover, &.ui-state-focus {
          border: none;
          background: transparent !important;
          box-shadow: none !important;
          -webkit-box-shadow: none !important;
        }
      }

      .ui-selectonemenu-trigger .ui-icon {
        margin-left: 2px;
      }

      button.ui-datepicker-trigger {
        top: -3px;
      }

      button.ui-autocomplete-dropdown {
        top:-5px;
      }

      span.ui-icon-triangle-1-s:before {
        top: 8px;
      }

      label {
        box-shadow: none !important;
        -webkit-box-shadow: none !important;
        -moz-box-shadow: none!important;
      }
    }
  }

  .ui-selectcheckboxmenu.material {
    display: inline-table;
    &.ui-state-focus.ui-state-error {
      border:none;
    }
  }

  span.ui-autocomplete, span.ui-calendar {

    &.material {
      border-bottom: none;
    }
  }

}