/*  SelectOneMenu */

div.ui-selectonemenu .ui-selectonemenu-trigger, div.ui-selectonemenu-trigger .ui-state-focus {
  border-color: #ffffff;
}

div.ui-selectonemenu-trigger {
  overflow: hidden;
  &.ui-state-hover, &.ui-state-focus {
    background: @hover-color;
  }

}

div.ui-selectonemenu-trigger span.ui-icon-triangle-1-s {
  background-image: none;
  display: inline;

  &:before {
    font-family: FontAwesome;
    color: @admin-text-color;
    position: relative;
    font-size: @font-awesome-icon-size;
    padding: 0 4px;
    overflow: hidden;
    content: "\f0d7" !important;
  }
}

@media (max-width: @screen-xs) {
  div.ui-selectonemenu-trigger span.ui-icon-triangle-1-s {
    &:before {
      font-size: @font-awesome-icon-size + 1;
    }
  }
}




.ui-selectcheckboxmenu.ui-state-focus .ui-selectcheckboxmenu-label,
.ui-selectcheckboxmenu .ui-selectcheckboxmenu-label.ui-state-hover {
  background-color: #ffffff;
}

div.ui-selectonemenu, div.ui-fluid div.ui-selectonemenu {
  height: 34px;
  display: block;
  overflow: hidden;
  border-color: #d2d6de;
  .border-left-radius(@default-border-radius);
  min-width: 150px; /* primefaces adds min-width: 328px; when on ui-state-exception */

  > .ui-selectonemenu-trigger {
    width: 30px;
    padding: 3px 6px;
    .border-left-radius(0px);
  }

  > .ui-selectonemenu-label {
    padding: 6px;
  }
}

ul.ui-selectlistbox-list > li.ui-selectlistbox-item {
  padding: 3px 6px;
}

.ui-selectcheckboxmenu-header .ui-selectcheckboxmenu-close {
  padding: 1px !important;
}

div.ui-selectcheckboxmenu {
  overflow: hidden;
}

body .ui-selectcheckboxmenu-panel div.ui-chkbox span.ui-chkbox-icon:before {
  top:1px;
}

li.ui-selectcheckboxmenu-item div.ui-chkbox-box {
  position: relative;
  margin-top: -15px;
}


body .ui-selectcheckboxmenu-panel .ui-selectcheckboxmenu-list-item .ui-chkbox {
  margin-top: -11px;
}

div.ui-selectcheckboxmenu .ui-selectcheckboxmenu-trigger {
  border-color: #ffffff;
  width: 32px;
  &.ui-state-hover, &.ui-state-focus {
    background: @hover-color;
  }
  .ui-icon {
    margin-top: 6px;
    margin-left: 3px;
  }
}

.ui-selectcheckboxmenu-label-container .ui-selectcheckboxmenu-label {
  min-width: 100px;
}

.ui-fluid div.ui-selectcheckboxmenu .ui-selectcheckboxmenu-trigger {
  width: 32px;
}

div.ui-selectcheckboxmenu-header {
  border: 0;
  border-bottom: 1px solid @checkboxmenu-border-color;

  .ui-chkbox span.ui-icon {
    float: none;
  }
}

li.ui-selectlistbox-item {
  position: relative;
  overflow: hidden;
}